html,
body {
  margin: 0;
  padding: 0;
}

button {
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

button:hover {
  color: #00f;
}

body {
  background: #eaeaea url('../images/bg.png');
  color: #4d4d4d;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  margin: 0 auto;
  width: 550px;
}

.container {
  margin: 0 auto;
  -moz-text-align: center;
  -ms-text-align: center;
  -o-text-align: center;
  -webkit-text-align: center;
  text-align: center;
  width: 365px;
}

ul {
  text-align: left;
}

.username {
  font-weight: 700;
}
